body {
    margin: 0;
    text-align: left;
    font-family: 'Manrope';
    background-image: url('https://i0.wp.com/www.eatbgroup.com/web/wp-content/uploads/descarga.jpg?fit=1000%2C667&ssl=1');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-color:#ffffffee;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
i{
    cursor: pointer;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
.banner{
    height:17%;
    width:100%;
}
.banner-img{
    width: 100%; /* or any custom size */
    object-fit: contain;
    border-bottom: 8px solid #ffe364;
}

.text-speech{
    height:65%;
    width:100%;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    color:#812A2A;
    font-size: 30px;
    letter-spacing: 5px;
}

hr{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: #e3b200;
}


.type-answer{
    height:16.5%;
    width:100%;

}
.content-type-answer{
    padding-top:45px;
    font-size: 30px;
    padding-left: 80px;
}
.input-answer{
    width: 50%;
    padding: 12px 30px;
    margin-left: 2%;
    border: 2px solid #812A2A;
    border-radius: 30px;
    font-size: 24px;
  }
.sbutton{
    display: inline-block;
    text-align: center;
    width: 15%;
    padding: 12px 20px;
    margin: 5px 0;
    margin-left: 160px;
    background-color: #ffe364;
    border-radius: 30px;
    font-size: 20px;
    color: #812A2A;
    border: 2px solid #812A2A;
    text-decoration: none;
    cursor: pointer;
}
.sbutton:hover {
    background-color: #ffd100;
    color: black;
}

.container-main {
  margin-top: 30px;
  max-width: 60%;
  width: 80%;
  float: left;
  height: 70vh;
  overflow-x: scroll;
  overflow-y: scroll; 
  background: #f0e3e3;
  overflow: scroll;
  border: 8px solid #9e0606;
}

.container-main2 {
  margin-top: 30px;
  max-width: 40%;
  width: 40%;
  float: left;
  height: 70vh;
  background: #f0e3e3;
  border-top: 4px solid #9e0606;
  border-right: 4px solid #9e0606;
  border-bottom: 4px solid #9e0606;
}

.title {
  /* background-color: #ffd100; */
  color: rgb(75, 0, 0);
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }

  .testbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }


  #resume_form {
  width: 90%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 4px  #080a00; 
  }

  #applicationID{
    width: 90%;
    padding: 20px;
    padding-left: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 4px  #000000; 
    margin-left: 30px;

  }

  input, select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-color: #9e0606;
  }
  input {
  /* align-items: center; */
  width: calc(60% - 10px);
  padding: 5px;
  }
  input[type="date"] {
  padding: 4px 5px;
  }
  textarea {
  width: calc(90% - 12px);
  padding: 5px;
  }
  .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color:  #669999;
  }
  .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0  #669999;
  color: #669999;
  }
  .item {
  left: 50px;
  position: relative;
  margin: 10px 0;
  }
  .item span {
  color: red;
  }
  input[type="date"]::-webkit-inner-spin-button {
  display: none;
  }
  .item i, input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color:  #a3c2c2;
  }
  .item i {
  right: 1%;
  top: 30px;
  z-index: 1;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
  right: 1%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  }
  input[type=radio], input[type=checkbox]  {
  display: none;
  }
  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
  }
  .question span {
  margin-left: 30px;
  }
  .question-answer label {
  display: block;
  }
  label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }
  input[type=radio]:checked + label:before, label.radio:hover:before {
  border: 2px solid  #669999;
  }
  label.radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 4px;
  border: 3px solid  #669999;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }
  input[type=radio]:checked + label:after {
  opacity: 1;
  }
  .flax {
  display:flex;
  justify-content:space-around;
  }
  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  button {
  width: 120px;
  padding: 10px;
  border: 2;
  border-radius: 25px; 
  background:  #ffcc00;
  border-color: #9e0606;
  font-size: 16px;
  color: rgb(105, 1, 1);
  cursor: pointer;
  }
  button:hover {
  background:  #a3c2c2;
  }
  @media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .name-item input, .name-item div {
  width: calc(50% - 20px);
  }
  .name-item div input {
  width:97%;}
  .name-item div label {
  display:block;
  padding-bottom:5px;
  }

  legend
{
	font-weight: bold;
	color: #333;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: rgb(184, 204, 0) none 0 0 no-repeat;
}
  }